[Unit]
Description=Journal Forwarding

[Service]
ExecStartPre=/usr/bin/curl -L https://bintray.com/artifact/download/pmorton/journalfwd/journalfwd_linux_amd64 -o /var/run/journalfwd
ExecStartPre=/usr/bin/chmod +x /var/run//journalfwd
ExecStart=/var/run/journalfwd -host logs2.papertrailapp.com -port <your port>  -color -useTcp

[X-Fleet]
Global=true